/** AWS Variables 
*
*  For generating keeys see: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_access-keys.html
*/

aws_config = {
  access_key = ""
  secret_key = ""
}
subdomain=""
domain=""